html,body
{
    min-height: 100vh;
    margin: 0;
}

body

{
    display: flex;
    flex-direction: column;


}
.wall
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 50%;
    padding-top: 50px;
    background:
    linear-gradient(60deg, rgb(89, 136, 2) 20%, transparent 20%),
    linear-gradient(120deg, transparent 80%, rgb(89, 136, 2) 20%),
    linear-gradient(120deg, rgb(89, 136, 2) 20%, transparent 20%),
    linear-gradient(60deg, transparent 80%, rgb(89, 136, 2) 20%),  
    rgb(70, 107, 2);
    background-size: 50px 100px;

}
.window1, .window2
{
    width: 20vh;
    height: 20vh;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.window1
{
    background-image:
     linear-gradient(to bottom, white,rgb(0, 89, 255));
     background-size: 100% 100%;
}
.window2
{
    background: linear-gradient(to top right, rgb(0, 89, 255) 60%,orange);
}
.windowblock
{
    border-color: black;
    border-style: solid;
    border-width:  2px;
    
}
.floor
{
    flex-grow: 1;
    background-color: #613f00;
    background-image: 
     linear-gradient(transparent 50%, rgba(173, 173, 173, 0.2) 50%),
     linear-gradient(to right, transparent 99%, rgba(0, 0, 0, 1) 10%),
     linear-gradient(to top, transparent 97%, rgba(0, 0, 0, 1) 10%);
    background-size: 15vw 10vh;
}
.bookshelfContainer
{
    
    position: absolute;
    top: 30vh;
    left: 30vw;
    
}
.bookshelf
{
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(201, 98, 51) ;
    background-color: rgb(165, 81, 42);
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;

}
.shelfSlot
{
    min-height: 93px;
    max-height: 97px;
    flex-grow: 1;
    background-color: rgb(148, 73, 38);
    border-color: black;
    border-bottom: 2px;
    border-style: solid;
    display: flex;
    justify-content: start;
    align-items: end;

}
.book
{
    height: 90%;
    width: 10%;
    background-color: rgb(184, 82, 82);
    border: 2px;
    border-style: solid;
    border-color: black;
    font-size: 14px;
}
img
{
    height: 10vh;
    width: 10vw;
}
button
{
    border-radius: 50%;
    background-color: transparent;
    border-color: transparent;
    border-width: 4px;
    position: absolute;
    top: 85vh;
    right: 1vw;
}
button:hover
{
    border-color: gold;
}
.book:hover
{
    border-color: gold;
}
.book:active
{
    border-color: rgb(92, 250, 92);
}
.bookCover
{
    width:30vw;
    height: 70vh;
    background-color: rgb(17, 0, 255);
    display: flex;
    justify-content: end;
    position: absolute;
    top: 20vh;;
    left: 30vw
}
.bookCover,.page
{
    border-radius: 0px 10px 10px 0px;
    border-color: black;
    border-style: solid;
}
.page
{
    border-left: 0px;
    background-color: white;
    height: 70vh;
    width: 5px;
    position: relative;
    top: -2px;
}
.page:hover
{
    border-color: gold;
}
.page:active
{
    border-color: green;
}
.title
{
    flex-grow: 1;
    font-size: 100px;
    text-align: center;
}
.author
{
    text-align: end;
    padding-right: 5px;
    color: white;
}
.content
{
    display: flex;
    flex-direction: column;
}
